pyrogram==2.0.102
tgcrypto
requests
pyromod
python-ffmpeg
pymediainfo
cloudscraper
beautifulsoup4==4.12.2
aiohttp
aiofiles
yt-dlp
pycryptodome
PySocks
websockets
psutil
async-lru==1.0.2
pyaes
soupsieve
pytgcalls
